USE [LBD]
GO
/****** Object:  Table [dbo].[Ambulancias]    Script Date: 07/09/2018 23:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ambulancias](
	[ID_AMBULANCIAS] [smallint] NOT NULL,
	[MODELO] [nvarchar](50) NOT NULL,
	[IMAGEN] [image] NOT NULL,
	[ID_PARAMEDICO] [numeric](18, 0) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Consultorio]    Script Date: 07/09/2018 23:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultorio](
	[ID_CONSULTORIO] [smallint] NOT NULL,
	[ID_EDIFICIO] [bit] NOT NULL,
	[ID_ENCARGADO] [numeric](18, 0) NOT NULL,
	[ID_SECRETARIA] [numeric](18, 0) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Material]    Script Date: 07/09/2018 23:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[ID_MATERIAL] [numeric](18, 0) NOT NULL,
	[NOMBRE_MATERIAL] [nvarchar](50) NOT NULL,
	[AREA] [nvarchar](50) NOT NULL,
	[ULTIMO_INVENTARIO] [date] NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[ID_MATERIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Paramedicos]    Script Date: 07/09/2018 23:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paramedicos](
	[ID_PARAMEDICO] [numeric](18, 0) NOT NULL,
	[HORAS] [tinyint] NOT NULL,
	[AÑO_NACIMIENTO] [int] NOT NULL,
	[EDAD]  AS ((2018)-[AÑO_NACIMIENTO]),
 CONSTRAINT [PK_Paramedicos] PRIMARY KEY CLUSTERED 
(
	[ID_PARAMEDICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 07/09/2018 23:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[ID_SEVICIOS] [numeric](18, 0) NOT NULL,
	[NOMBRE_SERVICIOS] [nvarchar](50) NOT NULL,
	[DESCRIPCION] [text] NOT NULL,
	[PRECIO] [money] NOT NULL,
 CONSTRAINT [PK_Servicios] PRIMARY KEY CLUSTERED 
(
	[ID_SEVICIOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[Paramedicos]  WITH CHECK ADD  CONSTRAINT [FK_Paramedicos_Paramedicos] FOREIGN KEY([ID_PARAMEDICO])
REFERENCES [dbo].[Paramedicos] ([ID_PARAMEDICO])
GO
ALTER TABLE [dbo].[Paramedicos] CHECK CONSTRAINT [FK_Paramedicos_Paramedicos]
GO
